<div class="full">

            <div id="users-container">
                <%= render "users" %>
            </div>
        </section>
        <div id="toggle" class="toggle">
            <div></div>
            <a id="toggle-btn" class="">Next</a>

</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const toggleBtn = document.getElementById("toggle-btn");
    const formContainer = document.getElementById("form-container");
    const usersContainer = document.getElementById("users-container");

    toggleBtn.addEventListener("click", function() {
      if (formContainer.style.display === "none") {
        formContainer.style.display = "block";
        usersContainer.style.display = "none";
        toggleBtn.textContent = "Next";
      } else {
        formContainer.style.display = "none";
        usersContainer.style.display = "block";
        toggleBtn.textContent = "Back";
      }
    });
  });
</script>
