<div class="full">
            <div id="form-container">
                <%= render "form" %>
            </div>
            <div id="users-container" style="display: none;">
                <%= render "users" %>
            </div>
        <div id="toggle" class="toggle">
            <a id="toggle-btn" class="">User list</a>
        </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const toggleBtn = document.getElementById("toggle-btn");
    const formContainer = document.getElementById("form-container");
    const usersContainer = document.getElementById("users-container");

    toggleBtn.addEventListener("click", function() {
      if (formContainer.style.display == "none") {
        formContainer.style.display = "block";
        usersContainer.style.display = "none";
        toggleBtn.textContent = "User list";
      } else {
        formContainer.style.display = "none";
        usersContainer.style.display = "block";
        toggleBtn.textContent = "Back";
      }
    });
  });
</script>
