@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    /* Colors */
    --primary: #0056a9;
    --secondary: #343435;
    --tertiary: #ffffff;
  
    --primary-hover: #0072e1;
    --secondary-hover: #525252;
    --tertiary-hover: #efefef;
  
    --primary-active: #003d78;
    --secondary-active: #1c1c1c;
    --tertiary-active: #e4e4e4;
  
    --success: #28a745;
    --danger: #ff4f61;
    --primary-low: #0f70cb;
  
    /* Font sizes */
    --fs-s: 14px;
    --fs-m: 16px;
    --fs-l: 18px;
    --fs-xl: 20px;
  
    /* Font weights */
    --fw-s: 400;
    --fw-m: 500;
    --fw-l: 600;
    --fw-xl: 700;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
  }

  body{
    background: #a4baea;
    /* height: 100dvh; */
    /* open to center */
  }

  .full{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    width: 50%;
    height: 35rem;
    padding: 4rem;
    margin: auto;
    background-color: #fff;
    border-radius: 20px;
  }

  .group{
    display: flex;
  }

  .group-view{
    display: flex;
    gap: 2rem;
  }

  .form-group{
    flex: 1;
  }

  .card{
    width: 50px;
    background-color: #ffabab;
  }